# Copyright 2017 The WPT Dashboard Project. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

services:
  - docker

before_install: ./docker_build.sh && ./docker_start.sh

install: |
  source ./docker_env.sh
  docker -t -u "$(id -u ${USER}):$(id -g ${USER})" "${INSTANCE_NAME}" make build

script: |
  source ./docker_env.sh
  docker exec -t -u "$(id -u ${USER}):$(id -g ${USER})" "${INSTANCE_NAME}" make test
  docker exec -t -u "$(id -u ${USER}):$(id -g ${USER})" "${INSTANCE_NAME}" make lint

after_script: ./docker_stop.sh
